@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('#{$path-to-ProximaNovaRegular}.eot');
  src:
    url('#{$path-to-ProximaNovaRegular}.woff') format('woff'),
    url('#{$path-to-ProximaNovaRegular}.ttf') format('truetype'),
    url('#{$path-to-ProximaNovaRegular}.svg') format('svg');
}

@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url('#{$path-to-ProximaNovaSemiBold}.eot');
  src:
    url('#{$path-to-ProximaNovaSemiBold}.woff') format('woff'),
    url('#{$path-to-ProximaNovaSemiBold}.ttf') format('truetype'),
    url('#{$path-to-ProximaNovaSemiBold}.svg') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('#{$path-to-ProximaNovaBold}.eot');
  src:
    url('#{$path-to-ProximaNovaBold}.woff') format('woff'),
    url('#{$path-to-ProximaNovaBold}.ttf') format('truetype'),
    url('#{$path-to-ProximaNovaBold}.svg') format('svg');
}


@font-face {
  font-family: 'genius2';
  src:  url('../fonts/genius2/genius2.eot?9pk0sp');
  src:  url('../fonts/genius2/genius2.eot?9pk0sp#iefix') format('embedded-opentype'),
        url('../fonts/genius2/genius2.ttf?9pk0sp') format('truetype'),
        url('../fonts/genius2/genius2.woff?9pk0sp') format('woff'),
        url('../fonts/genius2/genius2.svg?9pk0sp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fb-tw-lkdn';
  src:  url('../fonts/fb-tw-lkdn/fb-tw-lkdn.eot?jfr1a4');
  src:  url('../fonts/fb-tw-lkdn/fb-tw-lkdn.eot?jfr1a4#iefix') format('embedded-opentype'),
  url('../fonts/fb-tw-lkdn/fb-tw-lkdn.ttf?jfr1a4') format('truetype'),
  url('../fonts/fb-tw-lkdn/fb-tw-lkdn.woff?jfr1a4') format('woff'),
  url('../fonts/fb-tw-lkdn/fb-tw-lkdn.svg?jfr1a4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
