html,
p,
ul,
ol,
li,
input[type="submit"],
button {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: {
    family: "ProximaNova-Regular", sans-serif;
    //size: 1rem;
    weight: 400;
    style: normal;
  }
  color: #333;
  -webkit-font-smoothing:  antialiased;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

input[type="submit"] {
  background-color: initial;
  border: none;
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  background-color: black;
  border: none;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}


* {
  @include box-sizing();
  outline: none;
  background-repeat: no-repeat;
}