// config:
@import "config";

// fonts
@import "_fonts/face-font-directive";

// themes:
@import "_themes/themes";

// helpers:
@import "_helpers/mixins";
@import "_helpers/flexbox";
@import "_helpers/keyframes";
@import "_helpers/animation";
@import "_helpers/media-queries";

// modules
@import "_modules/icon-obj";
@import "_modules/navbar-left";
@import "_modules/section_content-right";
@import "_modules/social-sharing-block";
@import "_modules/introduction-text-block";
@import "_modules/table-of-content";
@import "_modules/information-block";
@import "_modules/navbar-center";
@import "_modules/wiki-section";
@import "_modules/view-product-block";
@import "_modules/form-block";
@import "_modules/pagination-block";
@import "_modules/getting-started";

// base
@import "_base/base";
@import "_base/headings";





/*
  Styles
*********************************/

.page-wrapper {
  .mobile-only {
    display: block;

    @include media-query(desktop) {
      display: none !important;
    }
  }

  .desktop-only {
    display: none;

    @include media-query(desktop) {
      display: block !important;
    }
  }
}

.page-wrapper {
  padding-bottom: 210px;

  .page-container {
    // mobile first
    @include flex-parent(
      $fd: column
    );
    width: 100%;
    margin: 0 auto;

    // desktop
    @include media-query(desktop) {
      @include flex-direction(row);
    }

    // section .beginners-guide
    .beginners-guide {
      // mobile first
      width: 100%;
      position: relative;

      img.bg-image {
        width: 100%;

        &.desktop-only {
          height: 21.25vw;

        }
      } // img.bg-image EOL


      .beginners-guide-text {
        // mobile first
        @include absolute(top 50% left 50%);
        @include translate(-50%, -50%);
        width: 62.5vw;
        line-height: 1.5em;
        font-family: "ProximaNova-SemiBold", sans-serif;
        font-size: 1.231rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;

        // desktop
        @include media-query(desktop) {
          line-height: 1.25em;
          font-size: 3.077rem;
        }

      } // .text EOL
    } // .beginners-guide EOL

  } // .page-container EOL
} // .page-wrapper EOL

.page-wrapper {
  .blue-text {
    color: #30a8dd;
  }

  .btns-block {
    // mobile
    @include flex-parent(
      $jc: space-between,
      $ai: column
    );
    width: 100%;
    margin-left: 0;
    padding: 20px;


    //desktop
    @include media-query(desktop) {
      width: 70%;
      margin-left: auto;
      margin-right: 35px;
      padding: 0;
    }

    @media only screen and (min-width: 1200px) {
      margin-right: 45px;
    }


    @media only screen and (min-width: 1366px) {
      margin-right: 60px;
    }


    @media only screen and (min-width: 1920px) {
      margin-right: 95px;
    }
  }

  .purple-btn {
    // mobile
    display: block;
    width: 110px;
    height: 30px;
    line-height: 3em;

    //desktop
    @include media-query(desktop) {
      width: 180px;
      height: 40px;
      line-height: 40px;
      margin-left: 0;
    }

    @media only screen and (min-width: 1200px) {
      line-height: 3.75em;
    }
  }
}





