/*
Requires the following page carcass:

<body>
  <div class="page-wrapper">
    <header class="page-header"></header>
    <main></main>
    <footer class="page-footer"></footer>
  </div>
</body>
*/

.page-wrapper {
    @include flexbox;
    @include flex-direction(column);
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}