@media (max-width: 982px) {
.firstbannerlink
{
	    margin-left: 154px;
}
    .header-menu  ul.menu  li {
        padding: 17px 3px;
    }

    .header-menu   ul.menu  li a {
        font-size: 13px;
    }
     .header-logo img {
        display: none;
    }

    .header-logo {
        width: 45px;
        height: 44px;
        background: url(../images/logo-fixed.png) no-repeat;
        display: block;
        top: -10px;
        left: 15px;
        background-size: cover;
        margin: 0 auto;
        position: static;
    }
}
@media (max-width: 830px) {
	   .header-menu  ul.menu  li {
        padding: 17px 1px;
    }

    .header-menu   ul.menu  li a {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
.firstbannerlink
{
	    margin-left: 0px;
}
	.node-type-product-overview .top-section-wrapper .container-fluid
		{
			background-image: none !important;
		}
    .rightcol {
        margin-top: 30px !important;
    }

    h1 {
        font-size: 40px;
    }

    .mmenu-opener {
        display: block;
    }

    .header-logo {
        text-align: center;
    }

    .imageforfile img {
        display: inline-block;
    }

    .imageforfile {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .withrightFile .field-type-image, .articleText, .padleft {
        text-align: center;
    }

    .formwrapperinside {
        padding: 0 20px;
    }

    .footer-top .block-menu {
        text-align: center;
    }

    .listCust ol li {
    padding: 0 0 0 3%;
        width: 98%;
    }

    .listpage .mcolumn {
        margin-top: 0px;
    }

    .logobcblock .field-name-field-logotypes > .field-items > .field-item {
        width: 50%;
    }

    .formwrapperinside-title, .formwrapperinside .form-actions.form-wrapper {
        margin-right: -20px;
        margin-left: -20px;
    }
}

@media (max-width: 1199px) {
    .top-section-text {
        position: static;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .header-right {
        width: auto;
    }

    .top-section-wrapper .container-fluid {
        padding-bottom: 75px;
    }

    .cp_testimon-wrapper .customers-wrapper-title-tab img {
        width: 100%;
    }
    .top-section2-wrapper
    {
    	min-height: 185px;
    }
}

@media (max-width: 1390px) {
    .header-search .container-inline {
        display: table;
    }

    .header-search-open {
        display: inline-block;
    }

    .header-search .form-text {
        max-width: 300px;
        min-width: 250px;
    }

    .header-search-wrapper {
        background: #e4e4e4;
        padding: 20px;
        border: 1px solid #cdcdcd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        position: absolute;
        z-index: 99;
        right: -30px;
        top: 100%;
        margin: 8px 0 0 0;
        visibility: hidden;
        opacity: 0;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    }

    .header-search-wrapper.__active {
        visibility: visible;
        opacity: 1;
    }

    .header-search-wrapper:before {
        content: "";
        position: absolute;
        right: 41px;
        top: -16px;
        width: 36px;
        height: 16px;
        background: url(../images/icons.png) no-repeat -40px -23px;
    }

    .header-search-wrapper .form-item,
    .header-search-wrapper .form-actions {
        display: table-cell;
    }

    .header-search-wrapper .form-text {
        margin-right: 5px;
    }

    .header-search-wrapper .form-actions input.form-submit {
        height: 40px;
        line-height: 40px;
        color: white;
        display: inline-block;
        background: #008be6;
        border: 1px solid #008be6;
        padding: 0 15px;
        text-align: center;
        position: static;
        width: auto;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
    }

    .header-search-wrapper .form-actions input.form-submit:hover {
        color: white;
        text-decoration: none;
        background: #126fb8;
        border: 1px solid #126fb8;
    }
}

@media (max-width: 480px) {
.firstbannerlink
{
	   display: none;
}
		.mobile-menu .block-content {
  		position: absolute;
  		right: 5px;
		}
    .header-logo img {
        display: none;
    }

    .header-logo {
      width: 45px;
    	height: 44px;
    	background: url(../images/logo-fixed.png) no-repeat;
    	display: block;
    	top: -10px;
    	left: -6px;
    	background-size: cover;
    	margin: 0 auto;
    	position: relative;
    }

    .logobcblock .field-name-field-logotypes > .field-items > .field-item {
        width: 100%;
        float: none;
    }

    .mobile-menu {
        padding-right: 10px;
        padding-left: 10px;
    }

    .mobile-menu .block-title {
        display: none;
    }

    .mobile-menu .block-content {
        float: none;
    }
}

@media (min-width: 1420px) {

    .customers-wrapper-text-img img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
      .customers-wrapper-text-img {
        height: 500px;
        overflow: hidden;
    }
}
