@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.svg") format("svg");
}
@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemiBold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemiBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemiBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemiBold.svg") format("svg");
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.svg") format("svg");
}
@font-face {
  font-family: 'genius2';
  src: url("../fonts/genius2/genius2.eot?9pk0sp");
  src: url("../fonts/genius2/genius2.eot?9pk0sp#iefix") format("embedded-opentype"), url("../fonts/genius2/genius2.ttf?9pk0sp") format("truetype"), url("../fonts/genius2/genius2.woff?9pk0sp") format("woff"), url("../fonts/genius2/genius2.svg?9pk0sp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fb-tw-lkdn';
  src: url("../fonts/fb-tw-lkdn/fb-tw-lkdn.eot?jfr1a4");
  src: url("../fonts/fb-tw-lkdn/fb-tw-lkdn.eot?jfr1a4#iefix") format("embedded-opentype"), url("../fonts/fb-tw-lkdn/fb-tw-lkdn.ttf?jfr1a4") format("truetype"), url("../fonts/fb-tw-lkdn/fb-tw-lkdn.woff?jfr1a4") format("woff"), url("../fonts/fb-tw-lkdn/fb-tw-lkdn.svg?jfr1a4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
This mixin does not allow to use multiple box-shadows
@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $spread: 5px, $color: rgba(0,0,0,.4), $inset: "") {
    @if ($inset != "") {
        @include css3-prefix('box-shadow', $inset $x $y $blur $spread $color);
    } @else {
        @include css3-prefix('box-shadow', $x $y $blur $spread $color);
    }
}
*/
/*
user-select: none;
user-select: auto;
user-select: text;
user-select: contain;
user-select: all;

-moz-user-select: none;
-moz-user-select: text;
-moz-user-select: all;

-webkit-user-select: none;
-webkit-user-select: text;
-webkit-user-select: all; /* does not work in Safari, use only "none" or "text", or else it will allow to type in the html container*/
/*
-ms-user-select: none;
-ms-user-select: text;
-ms-user-select: element;

*/
/*
.a {
    @include absolute();
}

.b {
    @include absolute(top);
}

.c {
    @include absolute(top right);
}

.d {
    @include absolute(top right bottom);
}

.e {
    @include absolute(top right bottom left);
}

.f {
    @include absolute(top right 1em);
}

.g {
    @include absolute(top 1em right);
}

.h {
    @include absolute(top 1em right 100%);
}

.i {
    @include absolute(top right mistake);
}

.j {
    @include absolute(top 1em right 1em bottom 1em left 1em)
}
*/
/*
    Example:

    @include keyframes(fadeIn) {
        from { opacity: 0%; }
        to { opacity: 100%; }
    }
*/
/*
    Example:
    @include animation(10s, 5s, changecolour)
 */
/*
Examples:

@include media-query($yourScreenSize) {
    prop: value;
}
*/
.page-wrapper [class^="social-"], .page-wrapper [class*=" social-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fb-tw-lkdn', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-wrapper .social-fb .path1:before {
  content: "\e900";
  color: #4e71a8;
}
.page-wrapper .social-fb .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: white;
}
.page-wrapper .social-lkdn .path1:before {
  content: "\e902";
  color: #0a7bba;
}
.page-wrapper .social-lkdn .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #f2f2f2;
}
.page-wrapper .social-tw .path1:before {
  content: "\e904";
  color: #55acee;
}
.page-wrapper .social-tw .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: white;
}

.page-wrapper [class^="icon-"], .page-wrapper [class*=" icon-"] {
  font-family: 'genius2', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-wrapper .icon-obj0,
.page-wrapper .icon-obj1,
.page-wrapper .icon-obj2,
.page-wrapper .icon-obj3,
.page-wrapper .icon-obj4,
.page-wrapper .icon-obj5,
.page-wrapper .icon-obj6,
.page-wrapper .icon-obj7,
.page-wrapper .icon-obj8 {
  width: 3.125vw;
  height: 3.125vw;
  margin-right: 6.25vw;
  position: relative;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj0,
  .page-wrapper .icon-obj1,
  .page-wrapper .icon-obj2,
  .page-wrapper .icon-obj3,
  .page-wrapper .icon-obj4,
  .page-wrapper .icon-obj5,
  .page-wrapper .icon-obj6,
  .page-wrapper .icon-obj7,
  .page-wrapper .icon-obj8 {
    margin-right: 1.75vw;
  }
}
.page-wrapper .icon-obj0:before,
.page-wrapper .icon-obj1:before,
.page-wrapper .icon-obj2:before,
.page-wrapper .icon-obj3:before,
.page-wrapper .icon-obj4:before,
.page-wrapper .icon-obj5:before,
.page-wrapper .icon-obj6:before,
.page-wrapper .icon-obj7:before,
.page-wrapper .icon-obj8:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  color: #024e80;
}
.page-wrapper .icon-obj0:before:hover,
.page-wrapper .icon-obj1:before:hover,
.page-wrapper .icon-obj2:before:hover,
.page-wrapper .icon-obj3:before:hover,
.page-wrapper .icon-obj4:before:hover,
.page-wrapper .icon-obj5:before:hover,
.page-wrapper .icon-obj6:before:hover,
.page-wrapper .icon-obj7:before:hover,
.page-wrapper .icon-obj8:before:hover {
  color: #fff;
}
.page-wrapper .icon-obj0:before {
  content: "\e900";
  font-size: 1.25rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj0:before {
    font-size: 1vw;
  }
}
.page-wrapper .icon-obj1:before {
  content: "\e901";
  font-size: 4rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj1:before {
    font-size: 2vw;
  }
}
.page-wrapper .icon-obj2:before {
  content: "\e902";
  font-size: 3rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj2:before {
    font-size: 1.75vw;
  }
}
.page-wrapper .icon-obj3:before {
  content: "\e903";
  font-size: 2.75rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj3:before {
    font-size: 1.5vw;
  }
}
.page-wrapper .icon-obj4:before {
  content: "\e904";
  font-size: 2.75rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj4:before {
    font-size: 1.5vw;
  }
}
.page-wrapper .icon-obj5:before {
  content: "\e905";
  font-size: 3.875rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj5:before {
    font-size: 2vw;
  }
}
.page-wrapper .icon-obj6:before {
  content: "\e906";
  font-size: 4rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj6:before {
    font-size: 2vw;
  }
}
.page-wrapper .icon-obj7:before {
  content: "\e907";
  font-size: 4rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj7:before {
    font-size: 2vw;
  }
}
.page-wrapper .icon-obj8:before {
  content: "\e908";
  font-size: 4rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .icon-obj8:before {
    font-size: 1.75vw;
  }
}

.page-wrapper .navbar-left {
  width: 100%;
  height: 15.625vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-left {
    width: 23.5%;
    height: 100vw;
  }
}
.page-wrapper .navbar-left ul {
  width: 100%;
  height: 15.625vw;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .page-wrapper .navbar-left ul {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-left ul {
    height: auto;
  }
}
.page-wrapper .navbar-left li {
  width: 100%;
  background-color: #008be6;
}
.page-wrapper .navbar-left li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 15.625vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-left li a {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    padding-left: 2.5vw;
    height: 4.375vw;
  }
}
.page-wrapper .navbar-left li a:hover {
  background-color: #35adfb;
  text-decoration: none;
}
.page-wrapper .navbar-left li a:hover .icon-obj0:before,
.page-wrapper .navbar-left li a:hover .icon-obj1:before,
.page-wrapper .navbar-left li a:hover .icon-obj2:before,
.page-wrapper .navbar-left li a:hover .icon-obj3:before,
.page-wrapper .navbar-left li a:hover .icon-obj4:before,
.page-wrapper .navbar-left li a:hover .icon-obj5:before,
.page-wrapper .navbar-left li a:hover .icon-obj6:before,
.page-wrapper .navbar-left li a:hover .icon-obj7:before,
.page-wrapper .navbar-left li a:hover .icon-obj8:before {
  color: #fff;
}
.page-wrapper .navbar-left li a .navbar-text {
  font-size: 1.173rem;
  color: #fff;
}
@media only screen and (min-width: 601px) {
  .page-wrapper .navbar-left li a .navbar-text {
    font-size: 1.385rem;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-left li a .navbar-text {
    font-size: 1.385rem;
  }
}
.page-wrapper .navbar-left li a .controls {
  display: block;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-left li a .controls {
    display: none;
  }
}
.page-wrapper .navbar-left li a .controls i.arrow-prev,
.page-wrapper .navbar-left li a .controls i.arrow-next {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 11px;
  height: 6px;
  margin-left: 15px;
  cursor: pointer;
}
.page-wrapper .navbar-left li a .controls i.arrow-prev {
  margin-bottom: 4px;
  background-image: url("../images/arrow-prev.png");
  background-repeat: no-repeat;
  background-position: center;
}
.page-wrapper .navbar-left li a .controls i.arrow-next {
  background-image: url("../images/arrow-next.png");
  background-repeat: no-repeat;
  background-position: center;
}

.page-wrapper section.content-right {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper section.content-right {
    -webkit-box-shadow: 0 1px 7px #ccc;
    -moz-box-shadow: 0 1px 7px #ccc;
    box-shadow: 0 1px 7px #ccc;
    width: 70%;
    margin: 30px 30px;
    padding-bottom: 30px;
  }
  .page-wrapper section.content-right.main {
    width: 75.5%;
    padding: 0 40px 0 5.75vw;
    margin: 0;
    box-shadow: none;
  }
}
.page-wrapper section.content-right .section-title {
  width: 100%;
  padding-top: 36px;
}
@media only screen and (min-width: 993px) {
  .page-wrapper section.content-right .section-title {
    width: 70vw;
    padding-top: 1.375vw;
  }
}
.page-wrapper section.content-right .section-title span {
  font-size: 0.923em;
  color: #323232;
}
@media only screen and (min-width: 993px) {
  .page-wrapper section.content-right .section-title span {
    font-size: 1.385rem;
  }
}
.page-wrapper section.content-right .section-title h1.title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 6vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper section.content-right .section-title h1.title {
    font-size: 2.308rem;
  }
}

.page-wrapper .social-sharing-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 8vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .social-sharing-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 2vw;
  }
}
.page-wrapper .social-sharing-block .social-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .social-title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 1rem;
}
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .social-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 18px;
}
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .tw,
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .fb,
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .lkdn {
  display: block;
  margin-right: 5px;
  font-size: 25px;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .tw,
  .page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .fb,
  .page-wrapper .social-sharing-block .social-buttons .social-btns-wrap .lkdn {
    margin-right: .375vw;
    font-size: 32px;
  }
}
.page-wrapper .social-sharing-block .social-buttons .social-btns-wrap a:hover {
  opacity: .8;
  text-decoration: none;
}
.page-wrapper .email-as-pdf-btn,
.page-wrapper .purple-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 98px;
  height: 30px;
  background-color: #e91e51;
  color: #fff;
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 0.923rem;
  text-align: center;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .email-as-pdf-btn,
  .page-wrapper .purple-btn {
    width: 126px;
    height: 40px;
    margin-left: 3.5vw;
    font-size: 1.154rem;
  }
}

.page-wrapper .introduction-text-block {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.5em;
  margin-top: 10vw;
  font-size: 0.923rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .introduction-text-block {
    margin-top: 2vw;
    font-size: 1.231rem;
  }
}

.page-wrapper .table-of-content {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content {
    margin-top: 2vw;
  }
}
.page-wrapper .table-of-content .content-block-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block-title {
    font-size: 1.846rem;
  }
}
.page-wrapper .table-of-content .content-block-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block-wrap {
    margin-top: 1.875vw;
  }
}
.page-wrapper .table-of-content .content-block {
  -webkit-box-shadow: 0 1px 7px #ccc;
  -moz-box-shadow: 0 1px 7px #ccc;
  box-shadow: 0 1px 7px #ccc;
  width: 43vw;
  height: 43vw;
  border-bottom: 4px solid transparent;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block {
    width: 15vw;
    height: 15vw;
  }
}
.page-wrapper .table-of-content .content-block:nth-child(n + 3) {
  margin-top: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block:nth-child(n + 3) {
    margin-top: 0;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block:nth-child(n + 5) {
    margin-top: 1.875vw;
  }
}
.page-wrapper .table-of-content .content-block:nth-child(1):hover {
  border-color: #5936d8;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:nth-child(2):hover {
  border-color: #46edb9;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:nth-child(3):hover {
  border-color: #ffb411;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:nth-child(4):hover {
  border-color: #e94b2e;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:nth-child(5):hover {
  border-color: #d35d6d;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:nth-child(6):hover {
  border-color: #3031da;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:nth-child(7):hover {
  border-color: #43bdb2;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block:last-child:hover {
  border-color: #024e80;
  color: inherit !important;
  text-decoration: none !important;
}
.page-wrapper .table-of-content .content-block a.content-block-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: content-box;
  -khtml-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 100%;
  position: relative;
}
.page-wrapper .table-of-content .content-block a.content-block-container:hover {
  color: inherit;
  text-decoration: none;
}
.page-wrapper .table-of-content .content-block a.content-block-container img {
  display: block;
  width: 100%;
  height: 50%;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 2.5em;
  line-height: 1.25em;
  margin-top: 9vw;
  font-size: 3.5vw;
  text-align: center;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block a.content-block-container .content-block-name {
    margin-top: 3vw;
    font-size: 1.385rem;
  }
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon {
  position: absolute;
  top: 21vw;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 11vw;
  height: 11vw;
  margin: 0;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon {
    top: 7vw;
    width: 3.75vw;
    height: 3.75vw;
  }
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj1:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj2:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj3:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj4:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj5:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj6:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj7:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj8:before {
  color: #fff;
  font-size: 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj1:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj2:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj3:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj4:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj5:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj6:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj7:before, .page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj8:before {
    font-size: 1.5vw;
  }
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj1 {
  background-color: #5936d8;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj2 {
  background-color: #46edb9;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj3 {
  background-color: #ffb411;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj4 {
  background-color: #e94b2e;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj5 {
  background-color: #d35d6d;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj6 {
  background-color: #3031da;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj7 {
  background-color: #43bdb2;
}
.page-wrapper .table-of-content .content-block a.content-block-container .content-block-icon.icon-obj8 {
  background-color: #024e80;
}

.page-wrapper .information-block {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block {
    margin-top: 3vw;
  }
}
.page-wrapper .information-block > * + * {
  margin-top: 8vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block > * + * {
    margin-top: 2.75vw;
  }
}
.page-wrapper .information-block .info-block-item h3.info-item-title {
  font-size: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .info-block-item h3.info-item-title {
    font-size: 1.538rem;
  }
}
.page-wrapper .information-block .info-block-item .info-block-text {
  line-height: 1.25em;
  margin-top: 4vw;
  font-size: 0.923rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .info-block-item .info-block-text {
    line-height: 1.5em;
    margin-top: 1vw;
    font-size: 1.231rem;
  }
  .page-wrapper .information-block .info-block-item .info-block-text .phases,
  .page-wrapper .information-block .info-block-item .info-block-text .dependencies {
    margin-top: 1.25vw;
  }
}
.page-wrapper .information-block .info-block-benefits {
  margin-top: 8vw;
  font-size: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .info-block-benefits {
    margin-top: 2.75vw;
    font-size: 1.538rem;
  }
}
.page-wrapper .information-block .info-block-benefits ul {
  line-height: 2em;
  margin-top: .75vw;
  padding-left: .625vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .info-block-benefits ul {
    padding: .75vw 0 0 .625vw;
    font-size: 1.231rem;
  }
}
.page-wrapper .information-block .courses-and-certifications {
  margin-top: 8vw;
  font-size: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .courses-and-certifications {
    margin-top: 2.75vw;
    font-size: 1.538rem;
  }
}
.page-wrapper .information-block .courses-and-certifications ul {
  margin-top: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .courses-and-certifications ul {
    line-height: 2em;
    margin-top: .75vw;
    font-size: 1.231rem;
  }
}
.page-wrapper .information-block .courses-and-certifications ul > * + * {
  margin-top: 3vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .courses-and-certifications ul > * + * {
    margin-top: 0;
  }
}
.page-wrapper .information-block .courses-and-certifications ul li {
  line-height: 1.5em;
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 0.923rem;
  color: #008be6;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block .courses-and-certifications ul li {
    line-height: 2em;
  }
}

.page-wrapper .navbar-center {
  width: 100%;
  margin: 20vw auto 0;
  height: 18.75vw;
  overflow: hidden;
  background-color: #008be6;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-center {
    -webkit-box-shadow: 0 1px 7px #ccc;
    -moz-box-shadow: 0 1px 7px #ccc;
    box-shadow: 0 1px 7px #ccc;
    height: 7.5vw;
    margin-top: 5.125vw;
    background-color: #fff;
  }
}
.page-wrapper .navbar-center ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-center ul {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.page-wrapper .navbar-center ul li {
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-center ul li {
    width: calc(100% / 9);
  }
}
.page-wrapper .navbar-center ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 18.75vw;
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-center ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 7.5vw;
    line-height: 1.25em;
    padding: 0 .75vw;
    color: #024e80;
    font-size: .923rem;
  }
  .page-wrapper .navbar-center ul li a:hover, .page-wrapper .navbar-center ul li a.active {
    color: #fff;
    background-color: #008be6;
    border-bottom: 7px solid #016eb5;
  }
}
.page-wrapper .navbar-center ul li a br {
  display: none;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .navbar-center ul li a br {
    display: block;
  }
}

.page-wrapper .wiki-section {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .wiki-section {
    margin-top: 3.5vw;
  }
}
.page-wrapper .wiki-section .wiki-section-name {
  font-size: 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .wiki-section .wiki-section-name {
    font-size: 1.846rem;
  }
}
.page-wrapper .wiki-section .wiki-section-articles-wrap {
  margin-top: 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .wiki-section .wiki-section-articles-wrap {
    margin-top: 1vw;
  }
}
.page-wrapper .wiki-section .wiki-section-articles-wrap > * + * {
  margin-top: 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .wiki-section .wiki-section-articles-wrap > * + * {
    margin-top: 1vw;
  }
}
.page-wrapper .wiki-section .wiki-section-articles-wrap .wiki-section-article {
  font-size: 0.923rem;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .wiki-section .wiki-section-articles-wrap .wiki-section-article {
    font-size: 1.231rem;
  }
}
.page-wrapper .wiki-section .wiki-section-articles-wrap .wiki-section-article a.wiki-section-article-name {
  color: #008be6;
  font-family: "ProximaNova-SemiBold", sans-serif;
  text-decoration: none;
}
.page-wrapper .wiki-section .wiki-section-articles-wrap .wiki-section-article .wiki-text {
  display: inline;
  color: #323232;
}

.page-wrapper .view-product-block {
  width: 100%;
  margin-top: 8vw;
  position: relative;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block {
    margin-top: 5.125vw;
  }
}
.page-wrapper .view-product-block .product-tour-pic.mobile {
  display: block;
  width: 90vw;
  height: 95.5vw;
  margin: 0 auto;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block .product-tour-pic.mobile {
    display: none !important;
  }
}
.page-wrapper .view-product-block .product-tour-pic.desktop {
  display: none !important;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block .product-tour-pic.desktop {
    display: block !important;
    width: 100%;
    height: 29.6875vw;
  }
}
.page-wrapper .view-product-block .content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12vw 0 0;
  text-align: center;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block .content-container {
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    height: auto;
    padding-top: 0;
  }
}
.page-wrapper .view-product-block .content-container .slogan-text {
  font-size: 7.5vw;
  line-height: 1.2em;
  color: #fff;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block .content-container .slogan-text {
    width: 490px;
    margin: 0 auto;
    font-size: 2.308rem;
  }
  .page-wrapper .view-product-block .content-container .slogan-text br {
    display: none;
  }
}
.page-wrapper .view-product-block .content-container .no-credit-card-block {
  margin-top: 4vw;
  font-size: 4vw;
  color: #fff;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block .content-container .no-credit-card-block {
    margin-top: 1.25vw;
    font-size: 1.231rem;
  }
  .page-wrapper .view-product-block .content-container .no-credit-card-block br {
    display: none;
  }
}
.page-wrapper .view-product-block .content-container a.video-btn {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: 45vw;
  height: 10vw;
  line-height: 10vw;
  margin: 7.75vw auto 0;
  padding-left: 7.5vw;
  font-size: 4vw;
  color: #fff;
  text-align: center;
  background-color: #e71e51;
  background-image: url("../images/video-btn.png");
  background-repeat: no-repeat;
  background-position: 3vw center;
  background-size: 5vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .view-product-block .content-container a.video-btn {
    width: 188px;
    height: 40px;
    line-height: 40px;
    margin-top: 2vw;
    padding-left: 2.5vw;
    font-size: 1.231rem;
    background-position: 1.75vw;
    background-size: 1.375vw;
  }
}
.page-wrapper .view-product-block .content-container a.video-btn:hover {
  text-decoration: none;
}

.page-wrapper .form-block {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10vw;
  padding: 8vw 5.5vw;
  background-color: #efefef;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block {
    width: 50%;
    margin-top: 5.125vw;
    padding: 45px 35px 30px;
  }
}
.page-wrapper .form-block .question {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 5.25vw;
  text-align: center;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .question {
    font-size: 1.846rem;
  }
}
.page-wrapper .form-block .submit-text {
  font-size: 3.4vw;
  text-align: center;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .submit-text {
    font-size: 1.538rem;
  }
}
.page-wrapper .form-block .rate-text {
  margin-top: 10vw;
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 4vw;
  text-align: center;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .rate-text {
    margin-top: 4vw;
    font-size: 1.231rem;
    text-align: left;
  }
}
.page-wrapper .form-block .the-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 8vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .the-form {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 3vw;
  }
}
.page-wrapper .form-block .the-form > * + * {
  margin-top: 6.5vw;
}
.page-wrapper .form-block .the-form input {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 12vw;
  padding-left: 4vw;
  color: rgba(50, 50, 50, 0.5);
  border: none;
}
.page-wrapper .form-block .the-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
.page-wrapper .form-block .the-form input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
.page-wrapper .form-block .the-form input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
.page-wrapper .form-block .the-form input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .the-form input {
    margin-top: 1vw;
    height: 40px;
    padding-left: 2vw;
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form input.first-name, .page-wrapper .form-block .the-form input.last-name {
    width: 48%;
    margin-top: 0;
  }
  .page-wrapper .form-block .the-form input.last-name {
    margin-left: auto;
  }
}
.page-wrapper .form-block .the-form textarea {
  width: 100%;
  height: 36.25vw;
  padding: 4vw;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
  border: none;
  resize: vertical;
}
.page-wrapper .form-block .the-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
.page-wrapper .form-block .the-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
.page-wrapper .form-block .the-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
.page-wrapper .form-block .the-form textarea:-moz-placeholder {
  /* Firefox 18- */
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 4vw;
  color: rgba(50, 50, 50, 0.5);
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .the-form textarea {
    height: 7.25vw;
    margin-top: 1vw;
    padding: 1.5vw 2vw;
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form textarea:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1.231rem;
  }
  .page-wrapper .form-block .the-form textarea:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1.231rem;
  }
}
.page-wrapper .form-block .the-form button {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 40.625vw;
  height: 10.5vw;
  margin: 7.8125vw auto 0;
  text-align: center;
  color: #fff;
  font-size: 4vw;
  background-color: #0086de;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .form-block .the-form button {
    width: 160px;
    height: 40px;
    margin-top: 2vw;
    font-size: 1.231rem;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .main .form-block {
    width: 100%;
    margin-top: 5.125vw;
    padding: 3vw 10vw 3.75vw;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .main .form-block .question {
    font-size: 2.308rem;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .main .form-block .the-form {
    margin-top: 4vw;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .main .form-block input {
    height: 4vw;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .main .form-block textarea {
    height: 8vw;
  }
}
@media only screen and (min-width: 993px) {
  .page-wrapper .main .form-block button {
    width: 16vw;
    height: 4vw;
    margin-top: 2vw;
    font-size: 1.231rem;
  }
}

.page-wrapper .pagination-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 15vw;
  color: #fff;
  background-color: #0173bd;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .pagination-block {
    height: 100px;
  }
}
.page-wrapper .pagination-block .pagination-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 15vw;
  height: 100%;
  font-size: 7.5vw;
  background-color: #024e80;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .pagination-block .pagination-arrow {
    width: 10vw;
    font-size: 2.5vw;
  }
}
.page-wrapper .pagination-block .pagination-arrow:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.page-wrapper .pagination-block .pagination-middle-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 4vw;
}
.page-wrapper .pagination-block .pagination-link {
  font-size: 3.3333vw;
  text-transform: uppercase;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .pagination-block .pagination-link {
    font-size: 1.538rem;
  }
}
.page-wrapper .pagination-block .pagination-link:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.page-wrapper .pagination-block .pagination-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-wrapper .information-block h2 {
  font-size: 4vw;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .information-block h2 {
    font-size: 1.846rem;
  }
}
.page-wrapper .picture-block {
  width: 87vw;
  height: 34vw;
  background-color: #eaeaea;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .picture-block {
    width: 59vw;
    height: 26.87vw;
  }
}
.page-wrapper .want-to-try-block {
  width: 100%;
  padding: 30px 0;
  margin-top: 40px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .want-to-try-block {
    width: 60vw;
    margin-top: 70px;
    border-top: 1px solid #d3d3d3;
  }
}
.page-wrapper .want-to-try-block .content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .want-to-try-block .content-container {
    -webkit-box-shadow: 0 1px 7px #ccc;
    -moz-box-shadow: 0 1px 7px #ccc;
    box-shadow: 0 1px 7px #ccc;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.page-wrapper .want-to-try-block .content-container img {
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .want-to-try-block .content-container img {
    width: 24vw;
  }
}
.page-wrapper .want-to-try-block .content-container .right-block {
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .want-to-try-block .content-container .right-block {
    width: 33vw;
    height: 13vw;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 993px) and (min-width: 1200px) {
  .page-wrapper .want-to-try-block .content-container .right-block {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 993px) and (min-width: 1366px) {
  .page-wrapper .want-to-try-block .content-container .right-block {
    padding-left: 30px;
  }
}

.page-wrapper .want-to-try-block .content-container .slogan-text {
  margin-top: 20px;
  font-size: 4vw;
  text-align: left;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .want-to-try-block .content-container .slogan-text {
    margin-top: 0;
    font-size: 1.538rem;
  }
}
@media only screen and (min-width: 1200px) {
  .page-wrapper .want-to-try-block .content-container .slogan-text {
    font-size: 1.846rem;
  }
}
@media only screen and (min-width: 1366px) {
  .page-wrapper .want-to-try-block .content-container .slogan-text {
    font-size: 24px;
  }
}
.page-wrapper .want-to-try-block .content-container .no-credit-card-block {
  margin-top: 20px;
  font-size: 3vw;
  text-align: left;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .want-to-try-block .content-container .no-credit-card-block {
    margin-top: 20px;
    font-size: 1.077rem;
  }
}
.page-wrapper .want-to-try-block .content-container .email-as-pdf-btn {
  margin-left: 0;
  margin-top: 20px;
}

html,
p,
ul,
ol,
li,
input[type="submit"],
button {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

input[type="submit"] {
  background-color: initial;
  border: none;
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  background-color: black;
  border: none;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: none;
}

* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*
  Styles
*********************************/
.page-wrapper .mobile-only {
  display: block;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .mobile-only {
    display: none !important;
  }
}
.page-wrapper .desktop-only {
  display: none;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .desktop-only {
    display: block !important;
  }
}

.page-wrapper {
  padding-bottom: 210px;
}
.page-wrapper .page-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .page-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.page-wrapper .page-container .beginners-guide {
  width: 100%;
  position: relative;
}
.page-wrapper .page-container .beginners-guide img.bg-image {
  width: 100%;
}
.page-wrapper .page-container .beginners-guide img.bg-image.desktop-only {
  height: 21.25vw;
}
.page-wrapper .page-container .beginners-guide .beginners-guide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 62.5vw;
  line-height: 1.5em;
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 1.231rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .page-container .beginners-guide .beginners-guide-text {
    line-height: 1.25em;
    font-size: 3.077rem;
  }
}

.page-wrapper .blue-text {
  color: #30a8dd;
}
.page-wrapper .btns-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: column;
  -ms-flex-align: column;
  -webkit-align-items: column;
  -moz-align-items: column;
  align-items: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  padding: 20px;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .btns-block {
    width: 70%;
    margin-left: auto;
    margin-right: 35px;
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .page-wrapper .btns-block {
    margin-right: 45px;
  }
}
@media only screen and (min-width: 1366px) {
  .page-wrapper .btns-block {
    margin-right: 60px;
  }
}
@media only screen and (min-width: 1920px) {
  .page-wrapper .btns-block {
    margin-right: 95px;
  }
}
.page-wrapper .purple-btn {
  display: block;
  width: 110px;
  height: 30px;
  line-height: 3em;
}
@media only screen and (min-width: 993px) {
  .page-wrapper .purple-btn {
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .page-wrapper .purple-btn {
    line-height: 3.75em;
  }
}
