.page-wrapper {

  .information-block {
    h2 {
      // mobile
      font-size: 4vw;

      // desktop
      @include media-query(desktop) {
        font-size: 1.846rem;
      }
    }
  }

  .picture-block {
    // mobile
    width: 87vw;
    height: 34vw;
    background-color: #eaeaea;

    //desktop
    @include media-query(desktop) {
      width: 59vw;
      height: 26.87vw;
    }
  }

  .want-to-try-block {
    // mobile
    width: 100%;
    padding: 30px 0;
    margin-top: 40px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

    //desktop
    @include media-query(desktop) {
      width: 60vw;
      margin-top: 70px;
      border-top: 1px solid #d3d3d3;
    }

    .content-container {
      // mobile
      @include flex-parent(
        $fd: column,
        $jc: center,
        $ai: center
      );
      width: 100%;

      //desktop
      @include media-query(desktop) {
        @include box-shadow(0 1px 7px #ccc);
        @include flex-direction(row);
        @include justify-content(flex-start);
      }

      img {
        // mobile
        width: 100%;

        //desktop
        @include media-query(desktop) {
          width: 24vw;
        }
      }

      .right-block {
        // mobile
        width: 100%;

        //desktop
        @include media-query(desktop) {
          width: 33vw;
          height: 13vw;
          padding-left: 20px;

          @media only screen and (min-width: 1200px) {
            padding-left: 40px;
          }

          @media only screen and (min-width: 1366px) {
            padding-left: 30px;
          }
        }
      }

      .slogan-text {
        // mobile
        margin-top: 20px;
        font-size: 4vw;
        text-align: left;

        // desktop
        @media only screen and (min-width: 993px) {
          margin-top: 0;
          font-size: 1.538rem;
        }

        @media only screen and (min-width: 1200px) {
          font-size: 1.846rem;
        }

        @media only screen and (min-width: 1366px) {
          font-size: 24px;
        }
      }

      .no-credit-card-block {
        // mobile
        margin-top: 20px;
        font-size: 3vw;
        text-align: left;

        //desktop
        @include media-query(desktop) {
          margin-top: 20px;
          font-size: 1.077rem;
        }
      }

      .email-as-pdf-btn {
        // mobile
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}