.page-wrapper {
  .introduction-text-block {
    // mobile first
    @include box-sizing();
    width: 100%;
    line-height: 1.5em;
    margin-top: 10vw;
    font-size: 0.923rem; // orig: 12px

    @include media-query(desktop) {
      margin-top: 2vw;
      font-size: 1.231rem;
    }
  }
}