.page-wrapper {

  .navbar-center { //navbar-center
    // mobile first
    width: 100%;
    margin: 20vw auto 0;
    height: 18.75vw;
    overflow: hidden;
    background-color: #008be6;

    // desktop
    @include media-query(desktop) {
      @include box-shadow(0 1px 7px #ccc);
      height: 7.5vw;
      margin-top: 5.125vw;
      background-color: #fff;
    }

    ul {
      // mobile first
      @include flex-parent(
        $fd: column
      );
      @include box-sizing();

      // desktop
      @include media-query(desktop) {
        @include flex-direction(row);
        @include justify-content(flex-start);
      }

      li {
        // mobile first
        width: 100%;

        // desktop
        @include media-query(desktop) {
          width: calc(100% / 9);
        }

        a {
          // mobile first
          @include flex-parent(
            $jc: center,
            $ai: center
          );
          width: 100%;
          height: 18.75vw;
          font-size: 4vw;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;

          //desktop
          @include media-query(desktop) {
            @include flex-parent(
              $ai: center,
              $jc: center
            );
            height: 7.5vw;
            line-height: 1.25em;
            padding: 0 .75vw;
            color: #024e80;
            font-size: .923rem;

            &:hover, &.active {
              color: #fff;
              background-color: #008be6;
              border-bottom: 7px solid #016eb5;
            }
          }

          br {
            // mobile first
            display: none;

            // desktop
            @include media-query(desktop) {
              display: block;
            }
          }
        }
      }
    }

  } // navbar-center EOL

}