.page-wrapper {

  // section.navbar-left
  .navbar-left {
    // mobile first
    width: 100%;
    height: 15.625vw;

    // desktop
    @include media-query(desktop) {
      width: 23.5%; // 24.5%
      height: 100vw;
    }

    ul {
      // mobile first
      width: 100%;
      height: 15.625vw;
      overflow: hidden;

      // tablet
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        width: 100%;
      }

      // desktop
      @include media-query(desktop) {
        //width: 394px;
        height: auto;
        //overflow: visible;
      }
    } // ul EOL

    li {
      // mobile first
      width: 100%;
      background-color: #008be6;

      a {
        // mobile first
        @include flex-parent(
          $fd: row,
          $jc: center,
          $ai: center
        );
        position: relative;
        width: 100%;
        height: 15.625vw;

        // desktop
        @include media-query(desktop) {
          @include justify-content(flex-start);
          padding-left: 2.5vw;
          height: 4.375vw;
        }

        &:hover {
          background-color: #35adfb;
          text-decoration: none;

          .icon-obj0,
          .icon-obj1,
          .icon-obj2,
          .icon-obj3,
          .icon-obj4,
          .icon-obj5,
          .icon-obj6,
          .icon-obj7,
          .icon-obj8 {
            &:before {
              color: #fff;
            }
          }

        } // :hover EOL

        .navbar-text {
          // mobile first
          font-size: 1.173rem;
          color: #fff;

          // tablet
          @include media-query(tablet) {
            //font-size: 2.75vw;
            font-size: 1.385rem;
          }

          // desktop
          @include media-query(desktop) {
            //font-size: 1.125vw;
            font-size: 1.385rem;
          }

          @media only screen and (min-width: 1680px) {
            //font-size: 1vw;
          }
        }

        .controls {
          // mobile first
          display: block;

          // desktop
          @include media-query(desktop) {
            display: none;
          }


          i.arrow-prev,
          i.arrow-next {
            @include flex-parent(
              $fd: column,
              $jc: center,
              $ai: center
            );
            width: 11px;
            height: 6px;
            margin-left: 15px;
            cursor: pointer;
          }


          i.arrow-prev {
            margin-bottom: 4px;
            background: {
              image: url("../images/arrow-prev.png");
              repeat: no-repeat;
              position: center;
            };
          }

          i.arrow-next {
            background: {
              image: url("../images/arrow-next.png");
              repeat: no-repeat;
              position: center;
            };

          }
        }

      } // a EOL
    } // li EOL
  } // .navbar-left EOL

}